{% extends 'hod_templates/base.html' %}

{% load static %}

{% block page_title %} Add Course {% endblock %}

{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Add Course</h3>
                    {% if messages %}
                    <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags  == "error" %}
                            <div style="color: rgb(255, 125, 125);" class="float-right"> {{ message }} </div>
                        {% else %}
                            <div style="color: rgb(126, 255, 126);" class="float-right"> {{ message }} </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form role="form" action="/add_course_save/" method="POST">
                    {% csrf_token  %}
                    <div class="card-body">
                      <div class="form-group">
                        <label>Course Name</label>
                        <input type="text" class="form-control" name="course_name" placeholder="Course Name">
                      </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Course</button>
                    </div>
                  </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
  </section>

{% endblock main_content %}